#no-articles {
  margin: 80px 0 80px 30px;
  font-size: 30px;
}

#archives {
  padding: 30px 30px 15px 30px;

  table {
    width: $maxContentWidth - 60;
    tbody {
      tr {
        cursor: pointer;
        &:nth-child(odd) {
          background: #efefef;
        }
        td {
          &.title {
            padding-right: 20px;
            padding-top: 2px;
            padding-bottom: 2px;
          }
          a {
            color: #444;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  #archives table {
    tbody tr td.author {
      display: none;
    }
    thead tr th.author {
      display: none;
    }
  }
}
