// scss-lint:disable IdSelector

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 200;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 16px;
}

h1 {
  color: $color-red;
  font-size: 3em;
}

h2,
h3,
h4 {
  margin-top: 30px;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.06em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    outline: 0;
    text-decoration: underline;
  }

  &:active {
    color: $link-color-active;
    outline: 0;
  }

  &:visited {
    color: $link-color;
  }

  &.blacklink,
  &.blacklink:visited {
    color: $color-black;
  }

  h2,
  h3,
  h4 {
    color: $color-black;

    &:hover {
      text-decoration: none;
    }
  }
}

p {
  margin-bottom: 0;
}

ul {
  list-style: square;
  margin-top: 0;

  li {
    line-height: 25px;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $color-white;
  border-top: 1px solid $separator-color-top;
}

blockquote {
  border-left: .4em solid $blockquote-color;
  box-sizing: border-box;
  font-style: italic;
  margin: 1.75em 0 1.75em -2.2em;
  padding: 0 0 0 1.75em;
}

label {
  display: inline-block;
  width: 8em;
}

input,
textarea {
  background: $input-color-background;
}

textarea {
  height: 9em;
  width: 27em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}

pre {
  background: $code-color-background;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: .75em 1.625em;

  &.prettyprint {
    // scss-lint:disable ImportantRule
    border: 1px solid $code-color-border !important;
    color: $color-black;
    padding-left: 8px !important;

    .pln {
      color: inherit;
      font-family: inherit;
    }
  }
}

.snippet-title {
  background: $color-lightdrakgray;
  border: 1px solid $code-color-border;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  font-weight: bold;
  margin-bottom: -15px;
  margin-top: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-top: 5px;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.required,
.optional {
  margin: 1em 0;
}

.two-images {
  img {
    float: left;
    width: 50%;
  }
}

.container {
  height: 100%;
  position: relative;
  width: 100%;
}

#main {
  position: relative;
}

#content {
  line-height: 1.5em;
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 0 30px 15px;
  position: relative;
}

#pagination {
  border-top: 1px solid $color-lightgray;
  color: $color-black;
  font-size: .9em;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px 30px;

  .pagination-page {
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
  }

  .left-half {
    float: left;
  }

  .right-half {
    float: right;
  }
}

#breadcrumbs {
  color: $color-black;
  font-size: .9em;
  font-weight: 200;
  line-height: 1.5em;
  padding: 15px 30px 0;
}

#footer {
  border-top: 1px solid $color-lightgray;
  color: $footer-color;
  font-size: .85em;
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 5px 30px;

  .left-half {
    float: left;
  }

  .right-half {
    float: right;
  }
}

#copyright {
  color: $footer-color;
  font-size: .8em;
  margin: 0 30px 15px;
  padding: 5px 30px 25px;
  text-align: center;
}
