{# ====================================== #}
{# === Construct the page breadcrumbs === #}
{# ====================================== #}
{%- macro breadcrumbs(pages, crumbs) %}
	{# Breadcrumbs #}
  <div id="breadcrumbs" class="md:mb-16 mb-8 mt-8 text-xs sm:text-sm">
    <a href="{{ get_url(path='@/_index.md') }}">Home</a>
    {% for crumb in crumbs %}
      {% if crumb != "" %}
        {# Dynamically handle fetching the data as a section or page. #}
        {% if crumb is containing("_index.md") %}
          {% set page = get_section(path=crumb, metadata_only=true) %}
        {% else %}
          {% set page = get_page(path=crumb) %}
        {% endif %}
        › <a href="{{ page.permalink }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}

    {% for page in pages %}
      {% if loop.last %}
        {% if page.title %}
          › {{ page.title }}
        {% else %}
          {# If the provided argument is not a page, we assume it's the title itself. #}
          › {{ page }}
        {% endif %}
      {% else %}
        {# If it's not the last item, we turn it into a breadcrumb. #}
        {% if page.title %}
          › <a href="{{ page.permalink }}">{{ page.title }}</a>
        {% else %}
          {# If the provided argument is not a page, we assume it's the title itself. #}
          › <a href="{{ get_url(path=page) }}">{{ page | capitalize }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{%- endmacro %}
