@media (prefers-color-scheme: dark) {
  :root {
    body {
      background-color: $color-github-black;
    }
    p {
      color: $paragraph-color-darkmode;
    }
    .article {
      color: $paragraph-color-darkmode;
      .article-header {
        color: $color-white;
      }
      .article-information {
        color: $color-lightergray;
        span {
          color: $color-white;
        }
      }
      div.callout {
        background-color: $callout-background-darkmode;
      }
    }
    pre.mermaid {
      background-color: inherit;
      .cluster {
        .nodeLabel {
          color: $color-white !important;
        }
      }
    }
    #breadcrumbs {
      color: $color-white;
    }
    blockquote {
      border-left-color: $blockquote-color-darkmode;
    }
    div {
      &.sourceCode {
        background: $code-color-background-darkmode;
        border-top-color: $code-color-border-darkmode;
      }
    }
    a {
      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }

      &:active {
        color: $link-color-active;
      }

      &:visited {
        color: $link-color;
      }

      &.blacklink {
        color: $color-white;

        &:visited {
          color: $color-white;
        }
      }

      h2,
      h3,
      h4 {
        color: $color-white;
      }
    }

    // Frontpage
    #frontpage-content {
      h3 {
        color: $footer-color-darkmode;
      }
      .overview-keyword {
        color: $paragraph-color-darkmode;
      }
    }
    #logo-container {
      color: $color-white;
      #reach-me {
        color: $footer-color-darkmode;
        a {
          color: $footer-color-darkmode;
        }
      }
    }
  }
}
