// scss-lint:disable IdSelector

#logo-container {
  margin-top: 80px;
  text-align: center;

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
  }

  #reach-me {
    margin-top: 1rem;
    color: $footer-color;
    font-size: 0.8rem;
  }
}

#frontpage-content {
  @include center-content();
  margin-bottom: 60px;

  .post-overview {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 2em;
  }

  hr {
    margin-top: 4rem;
    margin-bottom: 4rem;

    &.logo-separator {
      margin-top: 3rem;
      border-top-color: $color-red;
    }
  }

  h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0px;
  }
  .overview-keyword {
    color: $paragraph-color;
  }

  #overview-table {
    table-layout: fixed;
    &, tbody, tr {
      width: 100%;
    }
    td {
      vertical-align: top;
      width: 50%;
      max-width: 50%;
      &.overview-right-side {
        h3 {
          text-align: right;
        }
        ul {
          float: right;
          min-width: 200px;
        }
      }
    }
    ul {
      padding-left: 20px;
      margin-top: 0px;
      float: left;
      li {
        list-style: none;
        color: $footer-color;
      }
    }
    .overview-recent-posts {
      li {
        max-width: 350px;
        width: 45vw;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .bottom-information {
    margin-top: 50px;
  }
}
