// scss-lint:disable IdSelector

#logo-container {
  margin-top: 80px;
  text-align: center;

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
  }
}

#frontpage-content {
  @include center-content();
  margin-bottom: 60px;

  hr {
    margin-top: 60px;
    margin-bottom: 60px;

    &.logo-separator {
      margin-top: 60px;
    }
  }
}
