// scss-lint:disable IdSelector

// Mixin that is the basis for all the media queries
@mixin iphone-styling() {

  h1 {
    font-size: 1.8em;
  }

  #breadcrumbs,
  #archives,
  .article,
  .page {
    padding: 15px 0;
  }

  #logo-container {
    margin-top: 30px;
  }

  #content {
    padding: 0 15px 15px;
  }

  #footer {
    padding: 0 15px 15px;
  }
}

// Disable the sidebar on smaller screens
@media only screen and (max-width: 1230px) {
  #articles-sidebar {
    display: none;
  }
}

// ---------------------------------------
// ----------- iPhone 4 and 4S -----------
// Portrait and Landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  @include iphone-styling();

  #pagination {
    padding: 0 0 15px;
  }
}

// ---------------------------------------
// ----------- iPhone 5 and 5S -----------
// Portrait and Landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  @include iphone-styling();
}

// ---------------------------------------
// -------------- iPhone 6 ---------------
// Portrait and Landscape
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  @include iphone-styling();
}

// ---------------------------------------
// -------------- iPhone 6+ --------------
// Portrait and Landscape
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  @include iphone-styling();
}
