// scss-lint:disable IdSelector

$mobile-padding: 1rem;

// Mixin that is the basis for all the media queries.
@mixin iphone-styling() {
  #breadcrumbs,
  #archives,
  .article,
  .page {
    padding: $mobile-padding 0;
  }

  #logo-container {
    margin-top: 2rem;
  }

  #content {
    padding: 0 $mobile-padding $mobile-padding;
  }

  #footer {
    font-size: 1rem;
    padding: 0.5rem $mobile-padding $mobile-padding;
  }
}

@mixin frontpage-styling() {
  #frontpage-content {
    hr {
      margin-bottom: 2rem;
      &.logo-separator {
        margin-top: 2rem;
      }
    }
    #overview-table {
      // Make the table rows/columns fill 100%.
      &, tbody, tr, td {
        width: 100%;
        max-width: 100%;
      }
      td {
        display: block;
        // Reset the stylings to normal.
        &.overview-right-side {
          h3 {
            text-align: left;
          }
          ul {
            float: none;
          }
        }
        .overview-recent-posts {
          li {
            max-width: auto;
            width: 90%;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

@mixin post-styling() {
  .article {
    .article-body {
      h2, h3, h4, h5, h6 {
          &::before {
              margin-left: 0px;
          }
      }
    }
  }
}

@mixin base-styling() {
  div.sourceCode {
    margin-left: -$mobile-padding;
    margin-right: -$mobile-padding;
  }
  div.snippet-title {
    overflow-x:hidden;
    text-overflow:ellipsis ;
    white-space: nowrap ;
  }
  p, li, a {
    code, pre {
      word-break: break-all;
    }
  }
}

// Disable the sidebar on smaller screens.
@media only screen
and (max-width: 1230px) {
  #articles-sidebar {
    display: none;
  }
}

@media only screen
and (max-width: 710px) {
  @include iphone-styling();
}

// ---------------------------------------
// ----------- iPhone 4 and 4S -----------
// Portrait and Landscape.
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  @include iphone-styling();

  #pagination {
    padding: 0 0 $mobile-padding;
  }
}

// ---------------------------------------
// ----------- iPhone 5 and 5S -----------
// Portrait and Landscape.
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  @include iphone-styling();
  @include base-styling();
  @include frontpage-styling();
  @include post-styling();
}

// ---------------------------------------
// -------------- iPhone 6, 7, 8 ---------
// Portrait and Landscape.
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  @include iphone-styling();
  @include base-styling();
}
// Portrait ONLY.
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait)  {
  @include base-styling();
  @include frontpage-styling();
  @include post-styling();
}

// ---------------------------------------
// -------------- iPhone 6+, 6s+, 7+, 8+ -
// Portrait and Landscape.
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
  @include iphone-styling();
  @include base-styling();
}
// Portrait ONLY.
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation : portrait)  {
  @include base-styling();
  @include frontpage-styling();
  @include post-styling();
}

// ---------------------------------------
// -------------- iPhone X ---------------
// Portrait and Landscape.
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
  @include iphone-styling();
  @include base-styling();
}
// Portrait ONLY.
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait)  {
  @include base-styling();
  @include frontpage-styling();
  @include post-styling();
}
