// pre {
//     background-color: #fbf8ef
// }

.sourceCode {
  color: #655370;

  // KeyWordTok
  .kw { color: #3a81c3; }
  // DataTypeTok
  .dt { color: #ba2f59; }

  // DecValTok (decimal value), BaseNTok, FloatTok
  .dv, .bn, .fl { color: #4e3163; }
  // CharTok
  .ch { color: #2d9574; }
  // StringTok
  .st { color: #2d9574; }
  // CommentTok
  .co { color: #2aa1ae; }
  // OtherTok
  .ot { color: #715ab1; }
  // AlertTok
  .al { color: #e0211d; font-weight: bold; }
  // FunctionTok
  .fu { color: #6c3163; }
  // RegionMarkerTok
  .re { color: #d3d3e7; }
  // ErrorTok
  .er { color: #e0211d; font-weight: bold; }
}
