// scss-lint:disable IdSelector,SelectorFormat

.article {
  color: $paragraph-color;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8rem;
  margin-bottom: $spacing;
  padding-top: 15px;
  padding-bottom: 15px;

  .article-header {
    @include center-content();
    color: $color-black;

    h1 {
      margin-bottom: $spacing;
      margin-top: $spacing;
    }

    a {
      color: $link-color;
      text-decoration: none;
    }

    a:visited {
      color: $link-color;
    }
  }

  .article-information {
    display: flex;
    flex: 1;
    align-items: center;
    color: $color-lightergray;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 12px;

    .article-author-picture {
      display: flex;
      img {
        border-radius: 50%;
      }
    }

    .article-data {
      line-height: 16px;
      margin-left: 16px;
      align-items: center;
      span {
        color: $color-black;
      }
    }

    a,
    a:visited,
    a:hover {
      color: $color-lightergray;
    }
  }

  .article-body {
    margin-bottom: $spacing;

    h1 {
      margin-top: 40px;
    }
    h2,
    h3,
    h4 {
      margin: 2.6rem 0 1.8rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    blockquote,
    details,
    summary,
    pre:not(.mermaid),
    div.figure {
      @include center-content();
    }
    div.figure img {
      width: 100%;
    }

    pre.mermaid {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }

    ul > li > ul, ol > li > ul, ol > li > ol, ul > li > ol {
      padding-left: 24px;
      margin-top: 0;
    }

    p.versions-section {
      font-style: italic;
    }
    ul.versions {
      li {
        p {
          margin-top: 0;
          font-style: italic;
        }
      }
    }

    blockquote {
      ul {
        padding-left: $spacing;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &::before {
        color: $color-lightergray;
      }
    }
    h2 {
      // &::before {
      //   content: "# ";
      //   margin-left: -31px;
      // }
      padding-bottom: .3em;
      border-bottom: 1px solid rgb(216, 222, 228);
    }
    h3 {
      &::before {
        // content: "## ";
        // margin-left: -44px;
      }
    }
    h4 {
      &::before {
        // content: "### ";
        // margin-left: -56px;
      }
    }
    h5 {
      &::before {
        // content: "#### ";
        // margin-left: -56px;
      }
    }
    h6 {
      &::before {
        // content: "##### ";
        // margin-left: -52px;
      }
    }
  }

  div.callout {
    @include center-content();
    display: flex;
    background-color: $callout-background;
    padding: $spacing $spacing $spacing $spacing;
    margin-top: $spacing;
    div.callout-bulb {
      margin-right: 0.4rem;
    }
    p {
      margin-top: 0;
      line-height: 1.4rem;
    }
  }

  hr {
    width: 50%;
    margin: auto;
    max-width: $max-content-width - 20;
  }

  a {
    sup {
      // Avoid footnotes increasing the line-height.
      line-height: 1px;
    }
  }

  .footnotes {
    margin-top: 50px;
    font-size: 0.8em;
    hr {
      display: none;
    }
    ol {
      padding-left: 0;
    }
  }

  #disqus_thread {
    @include center-content();
    margin-top: 70px;
  }
}
