// Content dimensions
$max-content-width: 680px;

// General colors
$color-white: #fff;
$color-black: rgb(51, 51, 51);
$color-lightgray: #d2d2d2;
$color-lightergray: #9eabb3;
$color-lightdrakgray: #eee;
$color-darkgray: #939393;
$color-red: #d14d14;
$color-bright-red: #ff0000;

// Specific colors
$footer-color: #999;
$link-color: #08c;
$link-color-hover: #005580;
$link-color-active: #c58c58;
$separator-color-top: #eee;
$blockquote-color: #4a4a4a;
$input-color-background: #fafafa;
$code-color-background: #f9f9f9;
$code-color-border: #ececec;
$paragraph-color: #454547;

// Specific content styles
$code-font-size: 13px;
$code-font-family: "Courier 10 Pitch", Courier, monospace;

$normal-font-familiy: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
$title-font-familiy: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
