{% set image = resize_image(path=page.colocated_path ~ path, width=width, height=5000, op="fit") %}

{% set centered = center | default(value=true) %}
{% if centered %}
  <div class="flex flex-col items-center">
{% endif %}

{% set alt = alt | default(value=caption) %}
{% set title = title | default(value=alt) %}

{# NOTE: We use the regex to remove the "static/" part in the path, and avoid using .url since that contains an absolute path which includes the domain name. #}
<div class="mt-6">
{%- if path is matching("[.](jpg|png)$") -%}
  <a href="/{{ page.colocated_path ~ path }}" target="_blank">
    <img alt="{{ alt }}" title="{{ title }}" src="/{{ image.static_path | regex_replace(pattern=`static/(?P<path>\.*)`, rep=`$path`) | safe }}" loading="lazy" />
    {# <img alt="{{ alt }}" title="{{ title }}" src="/{{ image.url | safe }}" /> #}
  </a>
{%- else -%}
  <img alt="{{ alt }}" title="{{ title }}" src="/{{ image.static_path | regex_replace(pattern=`static/(?P<path>\.*)`, rep=`$path`) | safe }}" loading="lazy" />
  {# <img alt="{{ alt }}" title="{{ title }}" src="/{{ image.url | safe }}" /> #}
{%- endif %}
</div>

{% if caption %}
  <div class="text-sm text-subtle mt-2">
    {{ caption }}
  </div>
{% endif %}

{% if centered %}
  </div>
{% endif %}
