{% extends "base.html" %}

{% block content %}

<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold">404</p>
    <h1 class="mt-4 text-3xl tracking-tight sm:text-5xl">Page not found</h1>
    <p class="text-subtle mt-6 text-primary leading-7">Sorry, we couldn't find the page you're looking for.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/" class="text-sm text-headline font-semibold leading-6 !text-black-200 hover:!text-black-50 transition-colors ease-in duration-400">Go back home</a>
    </div>
  </div>
</main>

{% endblock content %}
