<div id="breadcrumbs">
  <a href="/">Home</a>
  &gt; <a href="$blogurl$">Posts</a>
  &gt; $title$
</div>

<div id="archives">
  <table id="archives-table">
    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="published">Published</th>
      </tr>
    </thead>
    <tbody>
      $for(posts)$
        <tr>
          <td class="title"><a href="$url$" class="link">$title$</a></td>
          <td class="published">$prettydate$</td>
        </tr>
      $endfor$
    </tbody>
  </table>
</div>
