{% import "macros/icon.html" as icons %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>codethoughts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Open Graph Metadata #}
    {# Static Open Graph Metadata #}
    {% if config.title %}
      <meta property="og:site_name" content="{{ config.title }}" />
    {% endif %}
    <meta property="og:locale" content="en_US" />

    {% set ogDefaultImage = get_url(path='images/og-image.png') ~ "?h=" ~ get_hash(path='/images/og-image.png') %}
    {% set ogDefaultImageMeta = get_image_metadata(path='images/og-image.png') %}
    {%- if ogDefaultImage is starting_with("/") %}
      {% set ogDefaultImagePath = config.extra.url ~ ogDefaultImage %}
    {%- else %}
      {% set ogDefaultImagePath = ogDefaultImage %}
    {%- endif %}

    {% set ogFallbackImage = get_url(path='images/og-image-fallback.png') ~ "?h=" ~ get_hash(path='/images/og-image-fallback.png') %}
    {% set ogFallbackImageMeta = get_image_metadata(path='images/og-image-fallback.png') %}
    {%- if ogFallbackImage is starting_with("/") %}
      {% set ogFallbackImagePath = config.extra.url ~ ogFallbackImage %}
    {%- else %}
      {% set ogFallbackImagePath = ogFallbackImage %}
    {%- endif %}

    {% if not current_path %}
      {# The 404 page will not have a path set. #}
      <meta property="og:title" content="404" />
      {% if config.extra.url %}
        <meta property="og:url" content="{{ config.extra.url }}" />
      {% endif %}
      {% if config.description %}
        <meta property="og:description" content="404: Page not found" />
      {% endif %}
      <meta property="og:type" content="website" />
      <meta property="og:image" content="{{ ogDefaultImagePath }}" />
      <meta property="og:image:width" content="{{ ogDefaultImageMeta.width }}" />
      <meta property="og:image:height" content="{{ ogDefaultImageMeta.height }}" />
      <meta property="og:image:type" content="image/{{ ogDefaultImageMeta.format }}" />
      <meta property="og:image:alt" content="codethoughts.io" />

    {% else %}
      {# Post Specific Open Graph Metadata #}
       {% if current_path and current_path is starting_with("/posts/") and not current_path is ending_with("/posts/") %}
        <meta property="og:type" content="article" />
      {% else %}
        <meta property="og:type" content="website" />
      {%- endif %}

      <meta property="og:title" content="{{ page.title | default(value=section.title | default(value=config.title)) }}" />

      {% set permalink = page.permalink | default(value=section.permalink | default(value=current_path)) %}
      {%- if permalink is starting_with("/") %}
        <meta property="og:url" content="{{ config.extra.url ~ permalink }}" />
      {%- else %}
        <meta property="og:url" content="{{ permalink }}" />
      {%- endif %}

      {# The post times are only dates, so we hardcode them to be in the middle of the day UTC time. #}
      {% if page.updated %}
        <meta property="article:published_time" content="{{ page.date }}T12:00:00+00:00" />
      {%- endif %}
      {% if page.updated %}
        <meta property="article:modified_time" content="{{ page.updated }}T12:00:00+00:00" />
      {%- endif %}

      {% if page.authors %}
        <meta property="article:author" content="{{ page.authors[0] }}" />
      {%- elif config.author -%}
        <meta property="article:author" content="{{ config.author }}" />
      {% endif %}

      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
      {% endif %}

      {% if page.description %}
        <meta property="description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
      {% elif page.summary %}
        <meta property="description" content="{{ page.summary | striptags | truncate(length=300) }}" />
        <meta property="og:description" content="{{ page.summary | striptags | truncate(length=300) }}" />
      {% elif config.description %}
        <meta property="description" content="{{ config.description }}" />
        <meta property="og:description" content="{{ config.description }}" />
      {% endif %}

      {% if page.extra.og_image %}
        {% set ogImageMeta = get_image_metadata(path=page.colocated_path ~ page.extra.og_image) %}
        {% set ogImageResized = resize_image(path=page.colocated_path ~ page.extra.og_image, width=1200, height=1000, op="fit") %}
        {% set ogImage = ogImageResized.url %}
        {%- if ogImage is starting_with("/") %}
          {% set ogImagePath = config.extra.url ~ ogImage %}
        {%- else %}
          {% set ogImagePath = ogImage %}
        {%- endif %}
        <meta property="og:image" content="{{ ogImagePath }}" />
        <meta property="og:image:width" content="{{ ogImageResized.width }}" />
        <meta property="og:image:height" content="{{ ogImageResized.height }}" />
        <meta property="og:image:type" content="image/{{ ogImageMeta.format }}" />
        <meta property="og:image:alt" content="{{ page.title | default(value=section.title | default(value=config.title)) }}" />
      {% elif current_path == "/" %}
        <meta property="og:image" content="{{ ogDefaultImagePath }}" />
        <meta property="og:image:width" content="{{ ogDefaultImageMeta.width }}" />
        <meta property="og:image:height" content="{{ ogDefaultImageMeta.height }}" />
        <meta property="og:image:type" content="image/{{ ogDefaultImageMeta.format }}" />
        <meta property="og:image:alt" content="{{ page.title | default(value=section.title | default(value=config.title)) }}" />
      {% else %}
        <meta property="og:image" content="{{ ogFallbackImagePath }}" />
        <meta property="og:image:width" content="{{ ogFallbackImageMeta.width }}" />
        <meta property="og:image:height" content="{{ ogFallbackImageMeta.height }}" />
        <meta property="og:image:type" content="image/{{ ogFallbackImageMeta.format }}" />
        <meta property="og:image:alt" content="{{ page.title | default(value=section.title | default(value=config.title)) }}" />
      {%- endif %}
    {% endif %}

    {# Syntax Highlighting Styles (theme adjusted dynamically) #}
    {% if config.markdown.highlight_code and config.markdown.highlight_theme == "css" %}
      {# <link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css?h={{ get_hash(path="/syntax-theme-dark.css") }}" media="(prefers-color-scheme: dark)" />
      <link rel="stylesheet" type="text/css" href="/syntax-theme-light.css?h={{ get_hash(path="/syntax-theme-light.css") }}" media="(prefers-color-scheme: light)" /> #}
      <link id="syntax-highlighting-styles" rel="stylesheet" type="text/css" href="{{ get_url(path='syntax-theme-dark.css') }}?h={{ get_hash(path="/syntax-theme-dark.css") }}" />
    {% endif %}

    {# Styles #}
    <link href="{{ get_url(path='styles/output.css') }}?h={{ get_hash(path="/styles/output.css") }}" rel="stylesheet" />

   {# Custom Fonts #}
      {% if page.extra.custom_font %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="{{ page.extra.custom_font }}" rel="stylesheet">
    {% endif %}

    {# Favicon #}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ get_url(path='favicon/apple-touch-icon-57x57.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-57x57.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ get_url(path='favicon/apple-touch-icon-114x114.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-114x114.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ get_url(path='favicon/apple-touch-icon-72x72.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-72x72.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ get_url(path='favicon/apple-touch-icon-144x144.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-144x144.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ get_url(path='favicon/apple-touch-icon-60x60.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-60x60.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ get_url(path='favicon/apple-touch-icon-120x120.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-120x120.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ get_url(path='favicon/apple-touch-icon-76x76.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-76x76.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ get_url(path='favicon/apple-touch-icon-152x152.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-152x152.png") }}" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-196x196.png') }}?h={{ get_hash(path="favicon/favicon-196x196.png") }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-96x96.png') }}?h={{ get_hash(path="favicon/favicon-96x96.png") }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-32x32.png') }}?h={{ get_hash(path="favicon/favicon-32x32.png") }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-16x16.png') }}?h={{ get_hash(path="favicon/favicon-16x16.png") }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-128x128.png') }}?h={{ get_hash(path="favicon/favicon-128x128.png") }}" sizes="128x128" />
    <meta name="application-name" content="codethoughts" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="{{ get_url(path='favicon/mstile-144x144.png') }}?h={{ get_hash(path="favicon/mstile-144x144.png") }}" />
    <meta name="msapplication-square70x70logo" content="{{ get_url(path='favicon/mstile-70x70.png') }}?h={{ get_hash(path="favicon/mstile-70x70.png") }}" />
    <meta name="msapplication-square150x150logo" content="{{ get_url(path='favicon/mstile-150x150.png') }}?h={{ get_hash(path="favicon/mstile-150x150.png") }}" />
    <meta name="msapplication-wide310x150logo" content="{{ get_url(path='favicon/mstile-310x150.png') }}?h={{ get_hash(path="favicon/mstile-310x150.png") }}" />
    <meta name="msapplication-square310x310logo" content="{{ get_url(path='favicon/mstile-310x310.png') }}?h={{ get_hash(path="favicon/mstile-310x310.png") }}" />

    {# Theme selection functionality #}
    <script>
      /**
        * Add a "dark" class to <html> if the current selected theme is dark mode.
        */
      function detectColorScheme(theme) {
        const localStorageTheme = localStorage.theme;
        if (theme === "dark" || localStorageTheme === "dark" || (!localStorageTheme && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
          // Dark mode has either specifically been requested, or nothing has yet been configured
          // and the preferred color scheme is dark mode.
          document.documentElement.classList.add("dark");
          updateThemeSelector("dark");
          setSyntaxHighlightingTheme("dark");
        } else if (theme === "light" || localStorageTheme === "light") {
          // Light mode has specifically been requested.
          document.documentElement.classList.remove("dark");
          updateThemeSelector("light");
          setSyntaxHighlightingTheme("light");
        } else if (theme === "system" || localStorageTheme === "system") {
          // System has specifically been requested, so we adapt to the preferred colorscheme.
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            document.documentElement.classList.add("dark");
            setSyntaxHighlightingTheme("dark");
          } else {
            document.documentElement.classList.remove("dark");
            setSyntaxHighlightingTheme("light");
          }
          updateThemeSelector("system");
        } else {
          // Fallback to dark mode if no explicit theme has been chosen.
          document.documentElement.classList.add("dark");
          updateThemeSelector("dark");
          setSyntaxHighlightingTheme("dark");
        }
      }

      /**
        * Update the stylesheet for syntax highlighting to point to the relevant theme.
        */
      function setSyntaxHighlightingTheme(theme) {
        const darkSyntaxTheme = "{{ get_url(path='syntax-theme-dark.css') }}?h={{ get_hash(path="/syntax-theme-dark.css") }}";
        const lightSyntaxTheme = "{{ get_url(path='syntax-theme-light.css') }}?h={{ get_hash(path="/syntax-theme-light.css") }}";
        const stylesheet = document.getElementById("syntax-highlighting-styles");
        const currentHref = stylesheet.getAttribute("href");
        if (theme === "light" && currentHref !== lightSyntaxTheme) {
          stylesheet.setAttribute("href", lightSyntaxTheme);
        } else if (theme === "dark" && currentHref !== darkSyntaxTheme) {
          stylesheet.setAttribute("href", darkSyntaxTheme);
        }
      }

      /**
        * Toggle between the different themes:
        * - dark (default)
        * - light
        * - system
        */
      function toggleColorScheme(theme) {
        localStorage.theme = theme;
        detectColorScheme(theme);
        // Whenever the user explicitly chooses light mode
        // localStorage.theme = "light";
        // detectColorScheme("light");

        // Whenever the user explicitly chooses dark mode
        // localStorage.theme = "dark";
        // detectColorScheme("dark");

        // Whenever the user explicitly chooses to respect the OS preference
        // localStorage.theme = "system";
        // detectColorScheme("system");
      }

      /**
       * Update the theme selectors to indicate the current state.
       */
      function updateThemeSelector(theme) {
        const darkModeSelection = document.getElementById("theme-dark-mode");
        const lightModeSelection = document.getElementById("theme-light-mode");
        const systemModeSelection = document.getElementById("theme-system");
        // Check that the elements have been initialized.
        if (!darkModeSelection || !lightModeSelection || !systemModeSelection) {
          return;
        }
        if (theme === "dark") {
          darkModeSelection.checked = true;
          lightModeSelection.checked = false;
          systemModeSelection.checked = false;
        } else if (theme === "light") {
          darkModeSelection.checked = false;
          lightModeSelection.checked = true;
          systemModeSelection.checked = false;
        } else if (theme === "system") {
          darkModeSelection.checked = false;
          lightModeSelection.checked = false;
          systemModeSelection.checked = true;
        }
      }

      // Set the theme on the initial load.
      detectColorScheme();

      // Detect if the theme is changed after we've loaded the page.
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
        detectColorScheme();
      });
    </script>
  </head>

  <body>
    {% set tags = get_taxonomy(kind="tags") %}

    <div class="flex flex-col min-h-screen mx-auto xl:px-0 px-4 items-center">
      <div class="flex flex-row align-start max-w-screen-xl mx-auto w-full py-4 items-center">
        {# Header/Logo #}
        <div class="xl:px-4 sm:mr-4 mr-0">
          <a href="{{ get_url(path='@/_index.md') }}">
            {# Light mode #}
            <img class="dark:hidden" alt="codethoughts logo (light)" src="{{ get_url(path='logo/codethoughts logo (transparent light).svg') }}?h={{ get_hash(path="logo/codethoughts logo (transparent light).svg") }}" width="50px" height="50px" />
            {# Dark mode #}
            <img class="hidden dark:block" alt="codethoughts logo (dark)" src="{{ get_url(path='logo/codethoughts logo (transparent dark).svg') }}?h={{ get_hash(path="logo/codethoughts logo (transparent dark).svg") }}" width="50px" height="50px" />
          </a>
        </div>
        {# Separator #}
        <div class="h-10 border-l border-solid border-subtle-extra"></div>
        <div class="flex sm:grow-0 grow justify-between lg:ml-20 xs:ml-4 ml-2 text-sm sm:mr-4 mr-2">
          <a class="text-menu text-nowrap md:mr-10 sm:mr-8 mr-4 min-[520px]:inline hidden" href="{{ get_url(path='@/_index.md') }}">Home</a>
          <a class="text-menu text-nowrap md:mr-10 sm:mr-8 mr-4 min-[420px]:inline hidden" href="{{ get_url(path='@/posts/_index.md') }}">Posts</a>
          <a class="text-menu text-nowrap md:mr-10 sm:mr-8 mr-4 md:inline hidden" href="{{ tags.permalink }}">Tags</a>
          <a class="text-menu text-nowrap mr-4 sm:inline hidden" href="{{ get_url(path='@/pages/about.md') }}">About<span class="xs:inline hidden"> Me</span></a>
          <a class="text-menu text-nowrap sm:mr-4 sm:hidden" href="https://codetalk.io" target="_blank" rel="noopener noreferrer">Codetalk ↗</a>
        </div>
        <div class="sm:ml-20 text-sm text-right sm:inline hidden grow min-[850px]:mr-4">
          <a class="text-menu text-nowrap" href="https://codetalk.io" target="_blank" rel="noopener noreferrer">Codetalk ↗</a>
        </div>
        <div class="text-sm text-right min-[850px]:mr-4 mr-12">
          {# Theme selector #}
          <div class="inline-flex items-center justify-center ml-4">
            <div class="inline-flex overflow-hidden rounded-lg">
              <label for="theme-dark-mode" class="cursor-pointer">
                <input type="radio" name="theme" id="theme-dark-mode" class="sr-only peer" value="dark" onclick="toggleColorScheme(this.value)">
                <span class="relative inline-flex items-center h-full py-1 px-3 space-x-2 text-sm peer-checked:bg-black-400/25 peer-checked:text-brand-color">
                  <span class="size-4">
                    {{ icons::icon(name="moon") }}
                  </span>
                </span>
              </label>
              <label for="theme-light-mode" class="cursor-pointer">
                <input type="radio" name="theme" id="theme-light-mode" class="sr-only peer" value="light" onclick="toggleColorScheme(this.value)">
                <span class="relative inline-flex items-center h-full py-1 px-3 space-x-2 text-sm peer-checked:bg-black-400/25 peer-checked:text-brand-color">
                  <span class="size-4">
                    {{ icons::icon(name="sun") }}
                  </span>
                </span>
              </label>
              <label for="theme-system" class="cursor-pointer">
                <input type="radio" name="theme" id="theme-system" class="sr-only peer" value="system" onclick="toggleColorScheme(this.value)">
                <span class="relative inline-flex items-center h-full py-1 px-3 space-x-2 text-sm peer-checked:bg-black-400/25 peer-checked:text-brand-color">
                  <span class="size-4">
                    {{ icons::icon(name="device-phone-mobile") }}
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>

      {# Content #}
      <div class="flex-1 max-w-screen-lg w-full sm:px-8 px-0">
        {% block content %} {% endblock %}
      </div>

      {# Footer #}
      <div id="footer" class="text-sm w-full max-w-screen-xl mt-16 mb-8 sm:px-8 px-2">
        {# <div class="separator"></div> #}
        <div class="flex flex-row">
          <div class="basis-1/2">
            <p class="text-subtle">
              <a class="text-primary visited:text-primary hover:text-link-hover" href="{{ get_url(path='@/pages/about.md') }}">about</a> the site
              <br />
              <a class="text-primary visited:text-primary hover:text-link-hover" href="{{ get_url(path='@/pages/archive.md') }}">archive</a> of all posts
              <br />
              overview of <a class="text-primary visited:text-primary hover:text-link-hover" href="{{ tags.permalink }}">tags</a>
            </p>
          </div>
          <div class="basis-1/2 text-right">
            <p  class="text-subtle">
              personal <a class="text-primary visited:text-primary hover:text-link-hover" href="https://github.com/Tehnix" target="_blank" rel="noopener nofollow noreferrer">github</a> and<br/>
              <a class="text-primary visited:text-primary hover:text-link-hover" href="https://github.com/codetalkio" target="_blank" rel="noopener nofollow noreferrer">codetalk</a> projects
              <br />
              <a class="text-primary visited:text-primary hover:text-link-hover" href="https://twitter.com/codetalkio" target="_blank" rel="noopener nofollow noreferrer">twitter</a> feed
            </p>
          </div>
        </div>
        <div class="text-subtle text-center mt-8">© copyright codetalk 2024</div>
      </div>
    </div>

    <script>
      // We rerun the theme detection in order to update the theme selectors.
      detectColorScheme();
    </script>

    <!-- Mermaid JS -->
    <script type="module">
      import mermaid from '{{ get_url(path='js/mermaid/mermaid.esm.min.mjs') }}?h={{ get_hash(path="js/mermaid/mermaid.esm.min.mjs") }}';
      const theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "default";
      mermaid.initialize({
        startOnLoad: true,
        theme: theme,
      })
    </script>
    <!-- End Mermaid JS -->

    {# Only include CloudFlare analytics when not in dev-mode #}
    {% if config.base_url == "/" %}
      <!-- Cloudflare Web Analytics -->
      <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ceda1744281b4253b3cd8fac339235ec"}'></script>
      <!-- End Cloudflare Web Analytics -->
    {% endif %}
  </body>
</html>
