<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>codethoughts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if config.markdown.highlight_code and config.markdown.highlight_theme == "css" %}
      <link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css?h={{ get_hash(path="/syntax-theme-dark.css") }}" media="(prefers-color-scheme: dark)" />
      <link rel="stylesheet" type="text/css" href="/syntax-theme-light.css?h={{ get_hash(path="/syntax-theme-light.css") }}" media="(prefers-color-scheme: light)" />
    {% endif %}
    <link href="/styles/output.css?h={{ get_hash(path="/styles/output.css") }}" rel="stylesheet" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ get_url(path='favicon/apple-touch-icon-57x57.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-57x57.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ get_url(path='favicon/apple-touch-icon-114x114.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-114x114.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ get_url(path='favicon/apple-touch-icon-72x72.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-72x72.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ get_url(path='favicon/apple-touch-icon-144x144.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-144x144.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ get_url(path='favicon/apple-touch-icon-60x60.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-60x60.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ get_url(path='favicon/apple-touch-icon-120x120.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-120x120.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ get_url(path='favicon/apple-touch-icon-76x76.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-76x76.png") }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ get_url(path='favicon/apple-touch-icon-152x152.png') }}?h={{ get_hash(path="favicon/apple-touch-icon-152x152.png") }}" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-196x196.png') }}?h={{ get_hash(path="favicon/favicon-196x196.png") }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-96x96.png') }}?h={{ get_hash(path="favicon/favicon-96x96.png") }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-32x32.png') }}?h={{ get_hash(path="favicon/favicon-32x32.png") }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-16x16.png') }}?h={{ get_hash(path="favicon/favicon-16x16.png") }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon/favicon-128x128.png') }}?h={{ get_hash(path="favicon/favicon-128x128.png") }}" sizes="128x128" />
    <meta name="application-name" content="codethoughts" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="{{ get_url(path='favicon/mstile-144x144.png') }}?h={{ get_hash(path="favicon/mstile-144x144.png") }}" />
    <meta name="msapplication-square70x70logo" content="{{ get_url(path='favicon/mstile-70x70.png') }}?h={{ get_hash(path="favicon/mstile-70x70.png") }}" />
    <meta name="msapplication-square150x150logo" content="{{ get_url(path='favicon/mstile-150x150.png') }}?h={{ get_hash(path="favicon/mstile-150x150.png") }}" />
    <meta name="msapplication-wide310x150logo" content="{{ get_url(path='favicon/mstile-310x150.png') }}?h={{ get_hash(path="favicon/mstile-310x150.png") }}" />
    <meta name="msapplication-square310x310logo" content="{{ get_url(path='favicon/mstile-310x310.png') }}?h={{ get_hash(path="favicon/mstile-310x310.png") }}" />
    <script>
      function setColorScheme() {
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }

      // Detect if the theme is changed after we've loaded the page.
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
        setColorScheme();
      });

      // Set the theme on the initial load.
      setColorScheme();

      // Whenever the user explicitly chooses light mode
      // localStorage.theme = "light";

      // Whenever the user explicitly chooses dark mode
      // localStorage.theme = "dark";

      // Whenever the user explicitly chooses to respect the OS preference
      // localStorage.removeItem("theme");
    </script>
  </head>

  <body>
    {% set tags = get_taxonomy(kind="tags") %}

    <div class="flex flex-col min-h-screen mx-auto xl:px-0 px-4 items-center">
      <div class="flex flex-row align-start max-w-screen-xl mx-auto w-full py-4 items-center">
        {# Header/Logo #}
        <div class="xl:px-4 sm:mr-4 mr-0">
          <a href="{{ get_url(path='@/_index.md') }}">
            {# Light mode #}
            <img class="dark:hidden" alt="codethoughts logo (light)" src="{{ get_url(path='logo/codethoughts logo (transparent light).svg') }}?h={{ get_hash(path="logo/codethoughts logo (transparent light).svg") }}" width="50px" height="50px" />
            {# Dark mode #}
            <img class="hidden dark:block" alt="codethoughts logo (dark)" src="{{ get_url(path='logo/codethoughts logo (transparent dark).svg') }}?h={{ get_hash(path="logo/codethoughts logo (transparent dark).svg") }}" width="50px" height="50px" />
          </a>
        </div>
        {# Separator #}
        <div class="h-10 border-l border-solid border-subtle-extra"></div>
        <div class="flex sm:grow-0 grow justify-between md:ml-20 sm:ml-4 ml-8 text-sm sm:mr-4 mr-16">
          <a class="text-subtle md:mr-10 sm:mr-8 mr-4 min-[520px]:inline hidden" href="{{ get_url(path='@/_index.md') }}">Home</a>
          <a class="text-subtle md:mr-10 sm:mr-8 mr-4" href="{{ get_url(path='@/posts/_index.md') }}">Posts</a>
          <a class="text-subtle md:mr-10 sm:mr-8 mr-4 sm:inline hidden" href="{{ tags.permalink }}">Tags</a>
          <a class="text-subtle mr-4" href="{{ get_url(path='@/pages/about.md') }}">About<span class="xs:inline hidden"> Me</span></a>
          <a class="text-subtle sm:mr-4 sm:hidden" href="https://codetalk.io" target="_blank" rel="noopener noreferrer">Codetalk ↗</a>
        </div>
        <div class="sm:ml-20 text-sm text-right sm:inline hidden grow min-[850px]:mr-4 mr-16">
          <a class="text-subtle" href="https://codetalk.io" target="_blank" rel="noopener noreferrer">Codetalk ↗</a>
        </div>
      </div>

      {# Content #}
      <div class="flex-1 max-w-screen-lg w-full">
        {% block content %} {% endblock %}
      </div>

      {# Footer #}
      <div id="footer" class="text-sm w-full max-w-screen-xl mt-16 mb-8 sm:px-8 px-2">
        {# <div class="separator"></div> #}
        <div class="flex flex-row">
          <div class="basis-1/2">
            <p class="text-subtle">
              <a class="text-primary visited:text-primary hover:text-link-hover" href="{{ get_url(path='@/pages/about.md') }}">about</a> the site
              <br />
              <a class="text-primary visited:text-primary hover:text-link-hover" href="{{ get_url(path='@/pages/archive.md') }}">archive</a> of all posts
              <br />
              overview of <a class="text-primary visited:text-primary hover:text-link-hover" href="{{ tags.permalink }}">tags</a>
            </p>
          </div>
          <div class="basis-1/2 text-right">
            <p  class="text-subtle">
              personal <a class="text-primary visited:text-primary hover:text-link-hover" href="https://github.com/Tehnix" target="_blank" rel="noopener nofollow noreferrer">github</a> and<br/>
              <a class="text-primary visited:text-primary hover:text-link-hover" href="https://github.com/codetalkio" target="_blank" rel="noopener nofollow noreferrer">codetalk</a> projects
              <br />
              <a class="text-primary visited:text-primary hover:text-link-hover" href="https://twitter.com/codetalkio" target="_blank" rel="noopener nofollow noreferrer">twitter</a> feed
            </p>
          </div>
        </div>
        <div class="text-subtle text-center mt-8">© copyright codetalk 2024</div>
      </div>
    </div>

    <!-- Mermaid JS -->
    <script type="module">
      import mermaid from '{{ get_url(path='js/mermaid/mermaid.esm.min.mjs') }}?h={{ get_hash(path="js/mermaid/mermaid.esm.min.mjs") }}';
      const theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "default";
      mermaid.initialize({
        startOnLoad: true,
        theme: theme,
      })
    </script>
    <!-- End Mermaid JS -->
  </body>
</html>
