<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="/path/to/your/jquery"><\/script>');
      }
    </script>
  </head>
  <body>
    <div id="container">
      <div class="right" id="main" role="main">
        <div id="content">
          <!-- Sidebar listing the currently displayed articles -->
          <div id="articles-sidebar" class="hide">
            <div id="articles-sidebar-item-bottom">
              <div class="arrow-down"></div>
            </div>
          </div>
          <!-- Actual content -->
          $body$
        </div>
        <div class="clear"></div>
        <div id="pagination">
          <!-- Pagination block -->
        </div>
        <footer id="footer">
          <!-- Footer content -->
          <div class="left-half">
            <a href="/about.html">about</a> the site
            <br />
            <a href="/archive.html">archive</a> of all posts
          </div>
          <div class="right-half">
            <a href="https://github.com/Tehnix" _target="blank">github</a> projects
            <br />
            <a href="https://twitter.com/codetalkio" _target="blank">twitter</a> feed
          </div>
        </footer>
        <div class="clear"></div>
      </div>
      <div id="copyright">copyright tehnix 2015</div>
    </div>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.  chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script><script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script><![endif]-->
    <script src="/js/resize.js"></script>
    <script>
      if(!window.location.href.match(/localhost/)){
        window._gaq = [['_setAccount','UA-19146082-5'],['_trackPageview'],['_trackPageLoadTime']];
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
    </script>
  </body>
</html>
