<div id="logo-container">
  <img width="150px" height="125px" src="/resources/images/codetalk-logo-white.png" alt="codetalk logo" title="codetalk logo" /> Christian Kjær Laustsen - <a href="https://github.com/Tehnix" target="_blank">GitHub</a> - <a href="https://www.linkedin.com/in/christian-kjaer-laustsen-08635942/" target="_blank">LinkedIn</a>
  <div id="reach-me">
    Want to reach me? Scroll to the bottom of this page to find out more!
  </div>
</div>

<div id="frontpage-content">
  <hr class="logo-separator">

  <table id="overview-table">
    <tr>
      <td>
        <!-- Recent Posts -->
        <h3><a href="$blogurl$"><span class="overview-keyword">Recent posts</span></a> on the blog</h3>
        <ul class="overview-recent-posts">
          $for(posts)$
          <li><a class="blacklink" href="$url$">$title$</a></li>
          $endfor$
          <li><a href="$blogurl$">View more...</a></li>
        </ul>
        <!-- END Recent Posts -->
      </td>
      <td class="overview-right-side">
        <!-- Interesting Projects -->
        <h3>interesting <a href="https://github.com/Tehnix"><span class="overview-keyword">projects</span></a></h3>
        <ul>
          <li><a href="https://github.com/Tehnix/spaceneovim" target="_blank">spaceneovim</a> / <a href="https://github.com/Tehnix/spaceneovim-layers" target="_blank">layers</a></li>
          <li><a href="https://github.com/Tehnix/atom-haskell" target="_blank">atom-haskell</a> / <a href="https://github.com/Tehnix/atom-haskell-hie" target="_blank">atom-haskell-hie</a></li>
          <li><a href="https://github.com/Tehnix/rfplusone-app" target="_blank">RF+1 App</a></li>
          <li><a href="https://github.com/codetalkio/Haskell-Electron-app" target="_blank">Haskell Electron App</a></li>
          <li><a href="https://github.com/Tehnix/cred-server" target="_blank">cred-server</a> (<a href="https://github.com/Tehnix/cred-client" target="_blank">client</a> / <a href="https://github.com/Tehnix/cred-web" target="_blank">web</a>)</li>
          <li><a href="https://github.com/Tehnix/HsCMS" target="_blank">HsCMS</a> & <a href="https://github.com/Tehnix/TowerOfPower" target="_blank">TowerOfPower</a></li>
        </ul>
        <div style="clear:both;"></div>
        <!-- END Interesting Projects -->
      </td>
    </tr>
    <tr>
      <td>
        <!-- Minor Contributions -->
        <h3>minor <span class="overview-keyword">contributions</span></h3>
        <ul>
          <li><a href="https://github.com/mobilehaskell/hackage-overlay" target="_blank">hackage-overlay</a></li>
          <li><a href="https://github.com/haskell/haskell-ide-engine" target="_blank">haskell-ide-engine</a></li>
          <li><a href="https://github.com/Glavin001/atom-beautify" target="_blank">atom-beautify</a></li>
          <li><a href="https://github.com/aeirola/slack-irc-client" target="_blank">slack-irc-client</a></li>
          <li><a href="https://github.com/begriffs/haskell-vim-now" target="_blank">haskell-vim-now</a></li>
        </ul>
        <div style="clear:both;"></div>
        <!-- END Minor Contributions -->
      </td>
      <td class="overview-right-side">
        <!-- Stackage Maintainer -->
        <h3><a href="https://github.com/fpco/stackage/blob/24e43e0e2c4910f615a8cf6e92f30d1d2b827ed8/build-constraints.yaml#L3403" target="_blank"><span class="overview-keyword">stackage</span></a> maintainer</h3>
        <ul>
          <li><a href="https://github.com/shachaf/ghc-core" target="_blank">ghc-core</a></li>
          <li><a href="https://github.com/yav/colorize-haskell" target="_blank">colorize-haskell</a></li>
        </ul>
        <div style="clear:both;"></div>
        <!-- END Stackage Maintainer -->
      </td>
    </tr>
  </table>


  <h3 class="bottom-information"><span class="overview-keyword">Codetalk</span> organization</h3>
    Codetalk is two part: <i>codetalk-the-company</i> and <i>codetalk-the-organization</i>. While both are closely tied, <i>codetalk-the-organzation</i> includes a larger number of brilliant people from around the world. The infrastructure and servers
    are maintained by <i>codetalk-the-company</i>. We've got a Slack team at <a href="http://slack.codetalk.io/">slack.codetalk.io</a> (<a href="http://invite.codetalk.io/">auto-inviter</a>). If you drop by, please say hi!
  </p>

  <h3 class="bottom-information">Getting <span class="overview-keyword">a hold of me</span></h3>
  <p>
    I can be found many places! Say <i>Hi!</i> on <a href="https://webchat.freenode.net">Freenode</a> to Tehnix; hit me up on twitter at <a href="https://twitter.com/codetalkio" target="_blank">@codetalkio</a>; tag me in an issue on GitHub with <a href="https://github.com/Tehnix" target="_blank">@Tehnix</a>; or simply shoot me an email to contact AT codetalk DOT io
  </p>
</div>
