<div id="logo-container">
  <img width="150px" height="125px" src="/resources/images/codetalk-logo-white.png" alt="codetalk logo" title="codetalk logo"
  /> Christian Kjær Laustsen -
  <a href="https://github.com/Tehnix" target="_blank" rel="noopener noreferrer" alt="You can check out my GitHub profile. It contains a lot of the things I work on in my spare time, for work and a little bit for University as well"
    title="You can check out my GitHub profile. It contains a lot of the things I work on, in my spare time, for work and a little bit for University as well">GitHub</a> -
  <a href="https://www.linkedin.com/in/christian-kjaer-laustsen" target="_blank" rel="noopener noreferrer" alt="This is where I act all professional"
    title="This is where I act all professional">LinkedIn</a>
  <div id="reach-me">
    Want to reach me?
    <a href="#footer" alt="Let me take you there" title="Let me take you there">👇 Scroll to the bottom of this page to find out more!</a>
  </div>
</div>

<div id="frontpage-content">
  <hr class="logo-separator">

  <table id="overview-table">
    <tr>
      <!-- Recent Posts -->
      <td>
        <h3>
          <a href="$blogurl$" alt="For some interpretation of 'Recent', alas here are a few posts" title="For some interpretation of 'Recent', alas here are a few posts">
            <span class="overview-keyword">Recent posts</span>
          </a> on the blog</h3>
        <ul class="overview-recent-posts">
          $for(posts)$
          <li>
            <a class="blacklink" href="$url$">$title$</a>
          </li>
          $endfor$
          <li>
            <a href="$blogurl$" alt="I'll take you to the full blog" title="I'll take you to the full blog">View more...</a>
          </li>
        </ul>
      </td>
      <!-- END Recent Posts -->

      <!-- Interesting Projects -->
      <td class="overview-right-side">
        <h3>interesting
          <a href="https://github.com/Tehnix" alt="Check out my GitHub profile for more, if you are interested" title="Check out my GitHub profile for more, if you are interested">
            <span class="overview-keyword">projects</span>
          </a>
        </h3>
        <ul>
          <li>
            <a href="https://github.com/codetalkio/patterns-serverless-rust-minimal" target="_blank" rel="noopener noreferrer" alt="Minimal setup for starting with serverless Rust on AWS Lambda using AWS CDK for deployment"
              title="Minimal setup for starting with serverless Rust on AWS Lambda using AWS CDK for deployment">serverless rust</a> / <a href="https://github.com/codetalkio/patterns-serverless-rust" target="_blank" rel="noopener noreferrer" alt="Setup for starting with serverless Rust + GraphQL + DynamoDB on AWS Lambda using AWS CDK for deployment"
              title="Setup for starting with serverless Rust + GraphQL + DynamoDB on AWS Lambda using AWS CDK for deployment">...+ graphql</a>
          </li>
          <li>
            <a href="https://github.com/codetalkio/patterns-serverless-scala-minimal" target="_blank" rel="noopener noreferrer" alt="Minimal setup for starting with serverless Scala on AWS Lambda using AWS CDK for deployment"
              title="Minimal setup for starting with serverless Scala on AWS Lambda using AWS CDK for deployment">serverless scala</a>
          </li>
          <li>
            <a href="https://github.com/Tehnix/spaceneovim" target="_blank" rel="noopener noreferrer" alt="Spaceneovim is a Spacemacs inspired distribution for Neovim"
              title="Spaceneovim is a Spacemacs inspired distribution for Neovim">spaceneovim</a> /
            <a href="https://github.com/Tehnix/spaceneovim-layers" target="_blank" rel="noopener noreferrer" alt="the accompanying layers for Spaceneovim"
              title="the accompanying layers for Spaceneovim">layers</a>
          </li>
          <li>
            <a href="https://github.com/Tehnix/MobileHaskellFun" target="_blank" rel="noopener noreferrer" alt="Toy project for testing out Haskell on iOS"
              title="Toy project for testing out Haskell on iOS">Mobile Haskell</a>
          </li>
          <!-- <li>
            <a href="https://github.com/Tehnix/atom-haskell" target="_blank" rel="noopener noreferrer" alt="A curated set of packages for Haskell development using Atom"
              title="A curated set of packages for Haskell development using Atom">atom-haskell</a> /
            <a href="https://github.com/Tehnix/ide-haskell-hie" target="_blank" rel="noopener noreferrer" alte="A language server client for Atom, using the Haskell LSP HIE"
              title="A language server client for Atom, using the Haskell LSP HIE">ide-haskell-hie</a>
          </li> -->
          <!-- <li>
            <a href="https://github.com/Tehnix/vscode-tidymarkdown" target="_blank" rel="noopener noreferrer" alt="VS Code extension for format Markdown with the tidy-markdown tool"
              title="VS Code extension for format Markdown with the tidy-markdown tool">vscode-tidymarkdown</a>
          </li> -->
          <li>
            <a href="https://github.com/Tehnix/rfplusone-app" target="_blank" rel="noopener noreferrer" alt="Mobile app (ReactNative) helping people meetup for concerts, develop for Roskilde Festival"
              title="Mobile app (ReactNative) helping people meetup for concerts, develop for Roskilde Festival">RF+1 App</a>
          </li>
          <li>
            <a href="https://github.com/codetalkio/Haskell-Electron-app" target="_blank" rel="noopener noreferrer" alt="Small example app demonstrating the use of Haskell in Electron with a Servant server"
              title="Small example app demonstrating the use of Haskell in Electron with a Servant server">Haskell Electron App</a>
          </li>
          <li>
            <a href="https://github.com/Tehnix/cred-server" target="_blank" rel="noopener noreferrer" alt="Cred is a framework for IoT on small devices like Raspberry Pi, developed as part of my BSc thesis at DTU"
              title="Cred is a framework for IoT on small devices like Raspberry Pi, developed as part of my BSc thesis at DTU">cred-server</a> (
            <a href="https://github.com/Tehnix/cred-client" target="_blank" rel="noopener noreferrer" alt="Accompanying client library for the cred-server"
              title="Accompanying client library for the cred-server">client</a> /
            <a href="https://github.com/Tehnix/cred-web" target="_blank" rel="noopener noreferrer" alt="Accompanying web interface for the cred-server"
              title="Accompanying web interface for the cred-server">web</a>)</li>
          <li>
            <a href="https://github.com/Tehnix/HsCMS" target="_blank" rel="noopener noreferrer" alt="A CMS implemented in Haskell using the Yesod framework"
              title="A CMS implemented in Haskell using the Yesod framework">HsCMS</a> &
            <a href="https://github.com/Tehnix/TowerOfPower" target="_blank" rel="noopener noreferrer" alt="A small fun Unity3D game in Pokémon style 2D graphics"
              title="A small fun Unity3D game in Pokémon style 2D graphics">TowerOfPower</a>
          </li>
        </ul>
        <div style="clear:both;"></div>
      </td>
      <!-- END Interesting Projects -->
    </tr>

    <tr>
      <!-- Minor Contributions -->
      <td>
        <h3>minor
          <span class="overview-keyword">contributions</span>
        </h3>
        <ul>
          <li>
            <a href="https://github.com/uuid-rs/uuid" target="_blank" rel="noopener noreferrer" alt="Contributed PR #521 uuid-rs/uuid"
              title="Contributed PR #521 uuid-rs/uuid">uuid-rs</a>
          </li>
          <li>
            <a href="https://github.com/aws/aws-cdk" target="_blank" rel="noopener noreferrer" alt="Contributed PR #9352 aws/aws-cdk"
              title="Contributed PR #9352 aws/aws-cdk">aws-cdk</a>
          </li>
          <li>
            <a href="https://github.com/ryanoasis/nerd-fonts" target="_blank" rel="noopener noreferrer" alt="Contributed PR #555 and #554 to ryanoasis/nerd-fonts"
              title="Contributed PR #27 and #28 to ryanoasis/nerd-fonts">nerd-fonts</a>
          </li>
          <li>
            <a href="https://github.com/alanz/vscode-hie-server" target="_blank" rel="noopener noreferrer" alt="Contributed PR #23, #25 and #27 to alanz/vscode-hie-server"
              title="Contributed PR #23, #25 and #27 to alanz/vscode-hie-server">vscode-hie-server</a>
          </li>
          <li>
            <a href="https://github.com/parsonsmatt/intero-neovim" target="_blank" rel="noopener noreferrer" alt="Contributed PR #120 to parsonsmatt/intero-neovim"
              title="Contributed PR #120 to parsonsmatt/intero-neovim">intero-neovim</a>
          </li>
          <li>
            <a href="https://github.com/mobilehaskell/hackage-overlay" target="_blank" rel="noopener noreferrer" alt="Contributed PR #4 to mobilehaskell/hackage-overlay"
              title="Contributed PR #4 to mobilehaskell/hackage-overlay">hackage-overlay</a>
          </li>
          <li>
            <a href="https://github.com/haskell/haskell-ide-engine" target="_blank" rel="noopener noreferrer" alt="Contributed PR #277, #348 and several issues to haskell/haskell-ide-engine"
              title="Contributed PR #277, #348 and several issues to haskell/haskell-ide-engine">haskell-ide-engine</a>
          </li>
          <li>
            <a href="https://github.com/NixOS/nixpkgs" target="_blank" rel="noopener noreferrer" alt="Contributed PR #31348 to NixOS/nixpkgs"
              title="Contributed PR #31348 to NixOS/nixpkgs">nixpkgs</a>
          </li>
          <li>
            <a href="https://github.com/Glavin001/atom-beautify" target="_blank" rel="noopener noreferrer" alt="Contributed PR #1911 to Glavin001/atom-beautify"
              title="Contributed PR #1911 to Glavin001/atom-beautify">atom-beautify</a>
          </li>
          <li>
            <a href="https://github.com/aeirola/slack-irc-client" target="_blank" rel="noopener noreferrer" alt="Contributed PR #27 and #28 to aeirola/slack-irc-client"
              title="Contributed PR #27 and #28 to aeirola/slack-irc-client">slack-irc-client</a>
          </li>
          <li>
            <details class="details-no-arrow">
              <summary>...</summary>
              <li><a href="https://github.com/begriffs/haskell-vim-now" target="_blank" rel="noopener noreferrer" alt="Contributed PR #125 to begriffs/haskell-vim-now" title="Contributed PR #125 to begriffs/haskell-vim-now">haskell-vim-now</a></li>
              <li><a href="https://github.com/atom/atom-languageclient" target="_blank" rel="noopener noreferrer" alt="Contributed Issue #131 to atom/atom-languageclient" title="Contributed Issue #131 to atom/atom-languageclient">atom-languageclient</a></li>
              <li><a href="https://github.com/langserver/langserver.github.io" target="_blank" rel="noopener noreferrer" alt="Contributed PR #53 to langserver/langserver.github.io" title="Contributed PR #53 to langserver/langserver.github.io">langserver.github.io</a></li>
            </details>
          </li>
        </ul>
        <div style="clear:both;"></div>
      </td>
      <!-- END Minor Contributions -->

      <!-- Stackage Maintainer -->
      <td class="overview-right-side">
        <h3>
          <a href="https://github.com/fpco/stackage/blob/24e43e0e2c4910f615a8cf6e92f30d1d2b827ed8/build-constraints.yaml#L3403" target="_blank"
            rel="noopener noreferrer" alt="This is where you'll find my entry in the stackage build constraints" title="This is where you'll find my entry in the stackage build constraints">
            <span class="overview-keyword">stackage</span>
          </a> maintainer</h3>
        <ul>
          <li>
            <a href="https://github.com/shachaf/ghc-core" target="_blank" rel="noopener noreferrer">ghc-core</a>
          </li>
          <li>
            <a href="https://github.com/yav/colorize-haskell" target="_blank" rel="noopener noreferrer">colorize-haskell</a>
          </li>
        </ul>
        <div style="clear:both;"></div>
      </td>
      <!-- END Stackage Maintainer -->
    </tr>

  </table>


  <h3 class="bottom-information">
    <span class="overview-keyword">Codetalk</span> organization</h3>
  Codetalk is two part:
  <i>codetalk-the-company</i> and
  <i>codetalk-the-organization</i>. While both are closely tied,
  <i>codetalk-the-organzation</i> includes a larger number of brilliant people from around the world. The infrastructure and
  servers are maintained by
  <i>codetalk-the-company</i>. We've got a Slack team at
  <a href="http://slack.codetalk.io/" alt="Will just redirect you to the actual Slack URL" title="Will just redirect you to the actual Slack URL">slack.codetalk.io</a> (
  <a href="http://invite.codetalk.io/" alt="Please don't abuse me though ._." title="Please don't abuse me though ._.">auto-inviter</a>). If you drop by, please say hi!
  </p>

  <h3 class="bottom-information">Getting
    <span class="overview-keyword">a hold of me</span>
  </h3>
  <p>
    I can be found many places! Say
    <i>Hi!</i> <s>on
    <a href="https://webchat.freenode.net" alt="Hey, I'm not saying that you shouldn't use an actual IRC client, this just seemed convenient"
      title="Hey, I'm not saying that you shouldn't use an actual IRC client, this just seemed convenient" target="_blank"
      rel="noopener noreferrer">Freenode</a> to Tehnix</s>; hit me up on twitter at
    <a href="https://twitter.com/codetalkio" target="_blank" rel="noopener noreferrer" alt="Amazingly low activity, I use it mostly for following others"
      title="Amazingly low activity, I use it mostly for following others">@codetalkio</a>; tag me in an issue on GitHub with
    <a href="https://github.com/Tehnix" target="_blank" rel="noopener noreferrer" alt="Yet another link to my GitHub profile"
      title="Yet another link to my GitHub profile">@Tehnix</a>; or simply shoot me an email to contact AT codetalk DOT io
  </p>
</div>
