<style>
#pagination {
  display: none;
}
</style>

<div id="logo-container">
  <img width="457px" height="382px" src="/images/codetalk-logo-white.png" alt="codetalk logo" title="codetalk logo" />
  Christian Kjær Laustsen
  - <a href="https://dk.linkedin.com/in/christian-kjær-laustsen-08635942"
       target="_blank">LinkedIn</a>
  - <a href="https://github.com/Tehnix" target="_blank">Github</a>
</div>

<br /><br />
<hr>
<br />

<h1>Recent posts on the <a href="/posts.html">blog</a></h1>
<ul style="margin-top: 20px;">
$for(posts)$
  <li><a class="blacklink" href="$url$.html">$title$</a></li>
$endfor$
  <li><a href="/posts.html">View more...</a></li>
</ul>

<br />
<hr>
<br />

<h1>Codetalk organization</h1>
<p style="margin-top: 20px;">Codetalk is two part: <i>codetalk-the-company</i>
and <i>codetalk-the-organization</i>. While both are closely tied,
<i>codetalk-the-organzation</i> includes a larger number of brilliant people from around the world.</p>

<p>The servers and infrastructure is maintained by <i>codetalk-the-company</i>. You can find more information about the organization at the <a href="http://info.codetalk.io">codetalk information page</a>.</p>

<p>There is both an IRC and a Slack team (and a bridge between the two) which
is used in the organization. Newcomers are generally welcomed!</p>

<br />
<br />
<br />
