{% extends "base.html" %}
{% import "macros/post.html" as macros %}
{% import "macros/general.html" as base %}

{% block content %}

{# START of content width wrapping #}
<div class="border-snapshot-with-content">
<div class="max-w-screen-md mx-auto">

{# Breadcrumbs #}
{{ base::breadcrumbs(pages=[page], crumbs=['importable-posts/_index.md']) }}

{# Sidebar listing the table of contents #}
{{ macros::post_toc_tracker(page=page) }}

{# Heading section #}
{{ macros::post_heading(page=page, isLink=false) }}

{# Author and tags section. #}
{{ macros::post_metadata(page=page) }}

<div class="styling-full">
  {{ macros::preprocess_post(resource=page) }}
</div>

{# END of content width wrapping #}
</div>
</div>

<div class="border-snapshot-with-content">
  <div class="max-w-screen-md mx-auto">
  {# Next and Previous post section #}
  {{ macros::post_next_prev(page=page) }}
</div>
</div>

{% endblock content %}
