{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex flex-col justify-between">
  <div>
    <div class="grid grid-cols-1 md:mt-16 mt-6 md:mb-24 mb-8">
      <div class="flex justify-center">
        <p class="min-[520px]:text-base text-sm">Christian Kjær Laustsen — <a class="text-primary" href="https://github.com/Tehnix" target="_blank" rel="noopener nofollow noreferrer">GitHub</a> — <a class="text-primary" href="https://www.linkedin.com/in/christian-kjaer-laustsen" target="_blank" rel="noopener nofollow noreferrer">LinkedIn</a></p>
      </div>

      <div class="flex justify-center px-4">
        <p class="text-subtle text-xs font-light pt-6">Want to reach me? 👇 <a class="text-subtle" href="#footer">Scroll to the bottom of this page to find out more!</a></p>
      </div>
    </div>

    {# Recent posts section #}
    <div class="border-snapshot md:mb-24 mb-20">
      <div>
        <a class="text-subheadline font-bold dark:font-normal" href="{{ get_url(path='@/posts/_index.md') }}">〒 Recent posts on the blog</a>

        {% if paginator %}
          <ul class="list-none list-inside">
            {% for page in paginator.pages %}
            <li class="ml-6 pr-8 first:mt-4">
              <a class="text-primary sm:text-2xl text-xl" href="{{ page.permalink | safe }}">{{ page.title }}</a>

              {# onclick="location.href='{{ page.permalink | safe }}';" and cursor-pointer #}
              <aside class="!mb-0 styling-full text-subtle border-l-2 pl-4 mt-4 line-clamp-4 text-base force-subtle-links force-plain-link">
                {{ page.summary | safe }}
              </aside>
              <aside class="text-subtle border-l-2 pl-4 mb-8 force-subtle-links text-right">
                <a href="{{ page.permalink }}">Continue Reading →</a>
              </aside>
            </li>
            {% endfor %}
            <li class="ml-6">
              <a class="text-primary" href="{{ get_url(path='@/posts/_index.md') }}">View more...</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>

    {# Interesting projects section #}
    <div class="border-snapshot md:mb-24 mb-20">
      <div class="md:pl-0 sm:pl-8">
        <div class="text-left">
          <a class="text-subheadline font-bold dark:font-normal" href="https://github.com/Tehnix" alt="Check out my GitHub profile for more, if you are interested" title="Check out my GitHub profile for more, if you are interested">⌘ Interesting projects</a>
        </div>

        <ul class="list-none list-inside">
          {% set projects = load_data(path="content/home/interesting-projects.json", format="json") %}
          {% for project in projects %}
            {% if not project.disabled %}
              <li class="ml-6 first:mt-4">
                {% for title in project.titles %}
                  <a class="text-primary sm:text-2xl text-xl" href="{{ title.url }}" target="_blank" rel="noopener noreferrer" alt="{{ title.description | default(value=project.description) }}"
                  title="{{ title.description | default(value=project.description) }}">{{ title.title }}</a>
                  {% if not loop.last  %}
                  <span class="sm:text-2xl text-xl px-2">/</span>
                  {% endif %}
                {% endfor %}
                <aside class="text-subtle styling-full border-l-2 pl-4 mt-4 !mb-0 line-clamp-4 text-base">
                  <p>
                    {{ project.description | safe }}
                  </p>
                </aside>
                <aside class="text-subtle border-l-2 pl-4 pt-2 mb-4 force-subtle-links text-right">
                  <a href="{{ project.titles[0].url }}" target="_blank" rel="noopener noreferrer" alt="{{ project.description }}"
                  title="{{ project.description }}">Visit Project →</a>
                </aside>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    </div>

    {# Getting a hold of me section #}
    <div class="border-snapshot mt-16 md:mb-16 mb-8">
      <span class="text-subheadline font-bold dark:font-normal flex items-center gap-1">
        <span class="inline-block w-4">
          {{ icons::icon(name="envelope") }}
          </span>
          Getting a hold of me
      </span>
      <p class="mt-4">
        I can be found many places! <br /><br />Hit me up on twitter at
        <a href="https://twitter.com/codetalkio" target="_blank" rel="noopener noreferrer" alt="Amazingly low activity, I use it mostly for following others"
          title="Amazingly low activity, I use it mostly for following others">@codetalkio</a> or <a rel="me noopener noreferrer" target="_blank" href="https://hachyderm.io/@codetalkio">Mastodon</a>; tag me in an issue on GitHub with
        <a href="https://github.com/Tehnix" target="_blank" rel="noopener noreferrer" alt="Yet another link to my GitHub profile"
          title="Yet another link to my GitHub profile">@Tehnix</a>; or simply shoot me an email to contact AT codetalk DOT io
      </p>
    </div>
  </div>
</div>

{% endblock content %}
