{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex flex-col justify-between">
  <div>
    <div class="grid grid-cols-1 md:mt-20 mt-6 md:mb-20 mb-12">
      <div class="flex justify-center">
          {# Light mode #}
          <img class="dark:hidden" alt="codethoughts logo (light)" src="{{ get_url(path='logo/codethoughts logo (transparent light).svg') }}" width="200px" height="200px" />
          {# Dark mode #}
          <img class="hidden dark:block" alt="codethoughts logo (dark)" src="{{ get_url(path='logo/codethoughts logo (transparent dark).svg') }}" width="200px" height="200px" />
      </div>

      <div class="flex justify-center">
        <p>Christian Kjær Laustsen - <a href="https://github.com/Tehnix" target="_blank" rel="noopener nofollow noreferrer">GitHub</a> - <a href="https://www.linkedin.com/in/christian-kjaer-laustsen" target="_blank" rel="noopener nofollow noreferrer">LinkedIn</a></p>
      </div>

      <div class="flex justify-center">
        <p>Want to reach me? 👇 <a href="#footer">Scroll to the bottom of this page to find out more!</a></p>
      </div>
    </div>

    <div>
      <p>
        Click <a href="{{ get_url(path='@/posts/_index.md') }}">here</a> to see my
        posts.
      </p>

      {% if paginator %}
        <ul>
          {% for page in paginator.pages %}
          <li>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            {# {{ page.summary | safe }}
            <a href="{{ page.permalink }}#continue-reading">Continue Reading</a> #}
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  <div id="footer">
    <p>
      <a href="{{ get_url(path='@/pages/about.md') }}">about</a> the site
      <br />
      <a href="{{ get_url(path='@/pages/archive.md') }}">archive</a> of all posts
      <br />
      {% set tags = get_taxonomy(kind="tags") %}
      overview of <a href="{{ tags.permalink }}">tags</a>
    </p>
    <p>
      personal <a href="https://github.com/Tehnix" target="_blank" rel="noopener nofollow noreferrer">github</a> and
      <a href="https://github.com/codetalkio" target="_blank" rel="noopener nofollow noreferrer">codetalk</a> projects
      <br />
      <a href="https://twitter.com/codetalkio" target="_blank" rel="noopener nofollow noreferrer">twitter</a> feed
    </p>
  </div>
</div>

{% endblock content %}
