$if(rawPost)$
  $body$
$else$
  <div id="breadcrumbs">
      <a href="/">Home</a> &gt; <a href="/posts.html">Posts</a> &gt; $title$
  </div>

  <section class="article">
    <header class="article-header">
      <h1>$title$</h1>
      <p class="article-information">
        <time datetime="$datetime$">$date$</time>
        $if(author)$
            by $author$
        $endif$
      </p>
    </header>
    <article class="article-body">
      $body$
    </article>
    <div class="clear"></div>
    $partial("templates/disqus.html")$
  </section>
$endif$

<script data-cfasync="true" src="/js/run_prettify.js"></script>
