$if(isNormalPost)$
<div id="breadcrumbs">
  <a href="/">Home</a>
  &gt;
  <a href="$blogurl$">Posts</a>
  &gt; $title$
</div>
$endif$

<section class="article">
  <header class="article-header">
    $if(isRawPost)$
    <a href="$url$">
      <h1 id="$urlencodedtitle$">$title$</h1>
    </a>
    $else$
    <h1>$title$</h1>
    $endif$
    <p class="article-information">
      <time datetime="$datetime$">$date$</time>
      $if(tags)$ in $tags$ $endif$ $if(author)$ by $author$ $endif$
    </p>
  </header>

  <article class="article-body">
    $if(isRawPost)$
    <!-- Show a teaser, if we are in a raw post and it exists -->
    $if(teaser)$ $teaser$
    <p>
      <a href="$url$">
        Read more →
      </a>
    </p>
    $else$
    <!-- Else fall back to the body -->
    $body$ $endif$ $else$
    <!-- If we are viewing a single post, show versions also -->
    $if(hasVersions)$
    <p class="versions-section">
      Versions and tools used:
    </p>
    <ul class="versions">
      $for(versions)$
      <li>$version$</li>
      $endfor$
    </ul>
    $endif$
    <!-- Finally, the body of the post -->
    $body$ $endif$
  </article>

  $if(isNormalPost)$
  <div class="clear"></div>
  $partial("templates/disqus.html")$ $endif$
</section>
