{% extends "base.html" %}
{% import "macros/general.html" as base %}

{% block content %}

{# Breadcrumbs #}
{{ base::breadcrumbs(pages=[taxonomy.name, term.name], crumbs=['posts/_index.md']) }}

<div class="border-snapshot mb-16">
  <table class="table-fixed min-w-full">
    <thead>
        <tr>
            <th class="w-3/4 text-left">Title</th>
            <th class="w-1/4 text-left">Published</th>
        </tr>
    </thead>
    <tbody>
    {% for page in term.pages | sort(attribute="date") | reverse %}
        <tr class="border-t border-b border-subtle cursor-pointer hover:text-link-hover" onclick="location.href='{{ page.permalink | safe }}';">
            <td class="pb-2 pt-2">
                <a class="text-headline" href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </td>
            <td>
                {{ page.date | date(format="%B %-e, %Y")  }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
