{% extends "base.html" %}
{% import "macros/general.html" as base %}

{% block content %}

{# Breadcrumbs #}
{{ base::breadcrumbs(pages=[taxonomy.name | capitalize], crumbs=['posts/_index.md']) }}

<div class="border-snapshot mb-16">
  <p class="text-subtle">༶ Overview of all {{ taxonomy.name }}</p>

  <ul class="list-disc list-inside mt-4 columns-3">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for term in terms %}
      <li><a href="{{ term.permalink | safe }}">{{ term.name }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
