@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #3A373E;
  --background: #F7F7F8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F7F7F8;
    --background: #0E1116;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
