#no-articles {
  margin: 80px 0 80px 30px;
  font-size: 30px;
  @include center-content();
}

#archives {
  padding: 30px 30px 15px 30px;
  @include center-content();

  table {
    width: 100%;
    tbody {
      tr {
        cursor: pointer;
        &:nth-child(odd) {
          background: #efefef;
        }
        td {
          &.title {
            padding-right: 20px;
            padding-top: 2px;
            padding-bottom: 2px;
          }
          a {
            color: #444;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
