$mobile-base-padding: 1rem;
$mobile-base-landscape-padding: 2em;

// Mixin that is the basis for all the media queries.
@mixin small-screen-styling($padding) {
  a,
  li,
  p {
    code,
    pre {
      word-break: break-all;
    }
  }

  ul,
  ol {
    padding-left: 35px;
  }

  #archives,
  #breadcrumbs,
  .article,
  .page {
    padding: $padding 0;
  }

  .article {
    hr {
      width: 100%;
      margin: auto;
    }
  }

  #logo-container {
    margin-top: 2rem;
  }

  #content {
    padding: 0 $padding $padding;
  }

  #footer {
    font-size: 1rem;
    padding: 0.5rem $padding $padding;
  }

  div {
    &.sourceCode {
      margin-left: -$padding;
      margin-right: -$padding;
    }

    &.snippet-title {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  #archives table {
    tbody tr td.author {
      display: none;
    }
    thead tr th.author {
      display: none;
    }
  }
}
@mixin mobile-styling($padding) {
  section.footnotes {
    margin-left: $padding;
  }
}

@mixin frontpage-styling {
  #frontpage-content {
    hr {
      margin-bottom: 2rem;

      &.logo-separator {
        margin-top: 2rem;
      }
    }

    #overview-table {
      // Make the table rows/columns fill 100%.
      &,
      tbody,
      td,
      tr {
        max-width: 95%;
        width: 95%;
      }

      td {
        display: block;

        // Reset the stylings to normal.
        &.overview-right-side {
          h3 {
            text-align: left;
          }

          ul {
            float: none;
            width: 100%;
          }
        }

        .overview-recent-posts {
          width: 100%;

          li {
            max-width: unset;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
    }
  }
}

@mixin post-styling {
  .article {
    .article-body {
      h2,
      h3,
      h4,
      h5,
      h6 {
        &::before {
          margin-left: 0;
        }
      }
    }
  }
}

// Disable the sidebar on smaller screens.
@media screen and (max-width: 1230px) {
  #articles-sidebar {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  @include small-screen-styling($mobile-base-padding);
  @include frontpage-styling;
  @include post-styling;
  @include mobile-styling($mobile-base-padding);
}

// ---------------------------------------
// ----------- iPhone 2G-4S in portrait & landscape
// Portrait and Landscape.
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @include small-screen-styling($mobile-base-padding);
  @include frontpage-styling;
  @include post-styling;
  @include mobile-styling($mobile-base-padding);

  #pagination {
    padding: 0 0 $mobile-base-padding;
  }
}

// ---------------------------------------
// ----------- iPhone 5 & 5S in portrait & landscape
// Portrait and Landscape.
@media screen and (min-device-width: 320px) and (max-device-width: 568px) {
  @include small-screen-styling($mobile-base-padding);
  @include frontpage-styling;
  @include post-styling;
  @include mobile-styling($mobile-base-padding);
}

// ---------------------------------------
// -------------- iPhone 6, 7, & 8 in portrait & landscape
@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
  @include small-screen-styling($mobile-base-padding);
  @include frontpage-styling;
  @include post-styling;
  @include mobile-styling($mobile-base-padding);
}

// ---------------------------------------
// -------------- iPhone 6, 7, & 8 Plus in portrait & landscape
@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
  @include small-screen-styling($mobile-base-padding);
  @include frontpage-styling;
  @include post-styling;
  @include mobile-styling($mobile-base-padding);
}

// ---------------------------------------
// -------------- iPhone X ---------------
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  @include small-screen-styling($mobile-base-padding);
  @include frontpage-styling;
  @include post-styling;
  @include mobile-styling($mobile-base-padding);
}
